body {
    margin: 0;
    font-family: cursive;
}

h1 {
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.color-container {
    background-color: cadetblue;
    width: 300px;
    height: 150px;
    color: white;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
     text-shadow: 4px 4px 8px black;
     border: solid black;
     border-radius: 15px;
}